html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 280px;
    min-height: 250px;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    font-family: "Arial", sans-serif;
    line-height: 1.2;
    color: #7f8c8d;
    background: #ecf0f1;
}
.post {
    width: 280px;
    /*margin-bottom: 5px*/
    color: #2980b9;
    position: absolute;
    /*top: 100px;*/
    
    }
    
.post-title {
    font-size: 18px;
    /*font-weight: bold;*/
    /*margin-bottom: -5px;*/
    position: absolute;
    top: 0px;
    left: 75px;
    /*float: right;*/
}
.post-author {
    color: #bdc3c7;
    position: relative;
     top: 30px;
    left: 75px;
    } 

.post-stats {
    /*width: 200px;*/
    position: relative;
    display: inline-block;
    top: 20px;
    left: 75px;
    /*margin: 0px;*/
    }

.post-date {
    position: absolute;
    width: 55px;
    height: 55px;
    color: #7f8c8d;
    font-size: 15px;
    font-weight: bold;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    border-bottom: 5px solid #bdc3c7;
    }
    
.post-type {
    position: absolute;
    top: 70px;
    width: 55px;
    height: 55px;
    color: #7f8c8d;
    font-size: 15px;
    font-weight: bold;
    background-color: #7f8c8d;
    text-align: center;
    /*problem*/
    vertical-align: middle;
    border-bottom: 5px solid #bdc3c7;
    }    

.post-text {
    color: #7f8c8d;
    width: 165px;
    position: absolute;
    top: 60px;
    left: 75px;
    /*padding: 15px;*/
    background-color: #fff;
    border-bottom: 5px solid #bdc3c7;
    padding: 10px 15px;
    }

.post-stats .icon {
    width: 15px;
    height: 15px;
}

a {
    color: #2980b9;
    text-decoration: none;
    }
    
.icon-tags{
    background-image: url(/assets/course14/post-challenge.png);
    }    
    
.icon-comments{
    background-image: url(/assets/course14/post-challenge.png);
    background-position: -20px;
    }
    
.post-type {
    background-image: url(/assets/course14/quotes.png);
    background-repeat: no-repeat;
    background-position: 15px;
    /*text-align: center;*/
    }    

/*
#ffffff
#7f8c8d
#2980b9
#bdc3c7

Все размеры, отступы, координаты, размеры шрифтов (не заданные в body) кратны 5 или 10.
Адреса картинок:
/assets/course14/quotes.png
/assets/course14/post-challenge.png
Картинка «кавычки» выровнена по центру
*/